@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
    --violetaOscuro: #6763BF;
    --violetaClaro: #8784D9;
    --cafe: #732C02;
    --blanco: #F2F2F2;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p.font-poppins {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 3.5rem;
    left: 0;
    height: 100vh;
    z-index: 100;
    background: var(--violetaClaro);
    color: #fff;
    transition: all 0.3s ;
}

#sidebar.active {
    margin-left: -250px;
}

.sidebar-menu{
    border-bottom: 1px solid var(--violetaOscuro);
    margin:0px 12px;
}

.sidebar-menu li {
    padding: 10px 14px;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    transition: all .2s;
    margin: 8px 10px;
}

.sidebar-menu li:hover {
    background: var(--violetaOscuro);
    margin-left: 15px;
    border-left: 6px solid white;
}

.sidebar-menu li p {
    display: inline;
    font-size: 1em;
    color: var(--blanco);
    padding-left: 40px;
}

.sidebar-menu li a {
    text-decoration: none;
}

.sidebar-menu li i {
    display: inline;
    padding-top: 10px;
    color: white;
}

.sidebar-menu li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 3.5rem;
    right: 0;
    background: var(--blanco);
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }
}

/* STYLES PROPIOS */

/* text-{size} */

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}


@media only screen and (max-width:576px) {
    .user-data {
        display: none;
    }
}

.btn-projects button {
    background: var(--violetaClaro);
    color: white;
}

.btn-projects button:hover {
    background: var(--violetaOscuro);
    color: white;
}

.btnAddNotes {
    background: var(--blanco);
    border-color: var(--blanco);
    border: 0;
    color: var(--violetaOscuro);
}

.btnAddnotes:hover {
    transition: all 0.2s;
    background: var(--violetaOscuro);
    color: white;
}

.text-violeta-claro {
    color: var(--violetaClaro);
}

.bg-violeta-claro {
    background: var(--violetaClaro);
}

.bg-violeta-oscuro {
    background: var(--violetaOscuro);
}

.userData img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid var(--violetaClaro);
}


