@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root{
    --violetaOscuro: #6763BF;
    --violetaClaro: #8784D9;
    --cafe: #732C02;
    --blanco: #F2F2F2;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p.font-poppins{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px 10px;
    background: white;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 59px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: var(--violetaClaro);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--violetaOscuro);
}

#sidebar ul {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li{
    padding: 10px 10px;
    transition: all .2s;
}

#sidebar ul li:hover{
    background: var(--violetaOscuro);
}

#sidebar ul li p {
    display: inline;
    font-size: 1em;
    color: var(--blanco);
    padding-left: 40px;
}

#sidebar ul li a{
    text-decoration: none;
}

#sidebar ul li i{
    display: inline;
    padding-top:10px;
    color:white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 50px;
    right: 0;
    background: var(--blanco);
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
}

/* STYLES PROPIOS */

@media only screen and (max-width:576px){
    .user-data{
        display:none;
    }
}

.btn-projects button{
    background:var(--violetaClaro);
    color:white;
}

.btn-projects button:hover{
    background: var(--violetaOscuro);
    color:white;
}

.btnAddNotes{
    background: var(--blanco);
    border-color: var(--blanco);
    border:0;
    color:var(--violetaOscuro);
}

.btnAddnotes:hover{
    transition: all 0.2s;
    background: var(--violetaOscuro);
    color: white;
}